{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <p><a href="/admin/utilisateurs">utilisateurs</a></p>
    <p><a href="/admin/categories">categories</a></p>
{% endblock %}
