{% extends 'base.html.twig' %}

{% block title %}Ajouter des utilisateurs{% endblock %}

{% block body %}
    <h3 class="text-center mb-5 mt-5 amber-text">Liste des utilisateurs</h3>
    <div class="container">
    <div class="row">
    <div class="z-depth-3 col-12 border border-dark rounded">
    <table class="centered responsive-table">
        <thead>
            <th>ID</th>
            <th>Email</th>
            <th>Rôles</th>
            <th>Articles</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {# On boucle sur les utilisateurs #}
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {# On boucle sur les rôles #}
                        {% for role in user.role %}
                            {% if role == "ROLE_USER" %}
                                Utilisateur
                            {% elseif role == "ROLE_ADMIN" %}
                                Administrateur
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ user.affaires|length }}</td>
                    <td><a class="amber-text" href="/admin/utilisateurs/modifier/{{user.id}}">Modifier</a></td>
                </tr>
                
            {% else %}
                <p>Aucun utilisateur inscrit</p>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    <div class="row">
    <div class="col-12">
    <a class="z-depth-3 waves-effect waves-light btn" href=""><i class="material-icons left">add</i>Ajouter</a>
    </div>
    </div>
    </div>
{% endblock %}
