{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
<div class="container">
    <div class="row">
        <div class="col-6 rounded mt-4 z-depth-2 text-center">
            <a href="/admin/utilisateurs" >Gérer les utilisateurs</a>
        </div>
        <div class="col-6 rounded mt-4 z-depth-2 text-center">
            <a href="/admin/categories" >Gérer les categories</a>
        </div>
    </div>
</div>
{% endif %}
    <h1>Liste des utilisateurs</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>Email</th>
            <th>Rôles</th>
            <th>Articles</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {# On boucle sur les utilisateurs #}
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {# On boucle sur les rôles #}
                        {% for role in user.role %}
                            {% if role == "ROLE_USER" %}
                                Utilisateur
                            {% elseif role == "ROLE_ADMIN" %}
                                Administrateur
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ user.affaires|length }}</td>
                    <td><a href="/admin/utilisateurs/modifier/{{user.id}}">Modifier</a></td>
                </tr>
                
            {% else %}
                <p>Aucun utilisateur inscrit</p>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
