{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="">
  <div class="row">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image rounded z-depth-3"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="text-center login-heading titlec mb-5 ">Connexion</h3>
              <form action="{{ path('login') }}" method="post">

                <div class="input-field titlec">
                    <i class="material-icons prefix">account_circle</i>
                    <input name="_username" type="email" id="inputEmail" class="d-flex justify-content-center form-control validate" required autofocus>
                    <label data-error="wrong" data-success="right" for="exampleInputEmail1">Email</label>
                </div>

                <div class="input-field titlec">
                <i class="material-icons prefix">lock</i>
                  <input name="_password" type="password" id="inputPassword" class="d-flex justify-content-center form-control validate" required>
                  <label data-error="wrong" data-success="right" for="exampleInputPassword1">Mot de passe</label>
                </div>
                <button class=" btn btn-oned-flex justify-content-start btn waves-effect waves-orange text-uppercase font-weight-bold mb-2" type="submit" name="action">Connexion
                  <i class="material-icons right">done</i>
                </button>
                 </div>
                
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
{% endblock %}

